@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 16, 21);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: "Kumbh Sans", sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#gradient {
  width: 100vw;
  height: 50vh;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  margin-top: 50vh;
  z-index: 100;
}

#container {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.246);
  border-radius: 30px;
  width: 80%;
  /* height: 300vh; */
  padding: 30px;
  /* display: flex;
    /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

#text {
  margin-left: 5%;
  width: 90%;
  height: 30px;
  margin-top: 10px;
  background: rgba(92, 175, 182, 0.4);
  border-radius: 30px;
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
    margin: 3px;
    vertical-align: middle;
    height: 100%;
    float: left;
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgb(0, 16, 21);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }